PORT=5000
MONGO_URI="mongodb+srv://samyaroy00_db_user:DZHAZa6mbGkBfEwk@faq-baseline.qvbmnij.mongodb.net/faq_iitr?appName=faq-baseline"
JWT_SECRET=samagama2026_vicharnashala
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
